<h1>@ViewBag.username's profile</h1>
<hr />

<h4 style="display:inline;">Username: </h4><p class="inline" style="display:inline;" id="Un"> @ViewBag.username</p>

<input type="hidden" vall="true" id="checkWhichPartial" />