@model Escape.Models.AddToRoleModel
@{
    ViewBag.Title = "AddUserToRole";
}

<h1 style="color:red;">Add User To Role</h1>

@using (Html.BeginForm("AddUserToRole", "Account"))
{
    <div class="form-group, colorWhite">
        <p>@Html.LabelFor(x => x.Email)</p>
        <p>@Html.TextBoxFor(x => x.Email, new { @class = "form-control" })</p>
    </div>
    <div class="form-group">
        @Html.DropDownListFor(x => x.SelectedRole, new SelectList(Model.Roles), new { @class = "form-control" })
    </div>
    <button style="position:relative; left: 70px;" type="submit" class="btn btn-default">Save</button>
    <img id="backk" src="~/Poster/back.png" style="position:relative; left:-95px; top:0px; width: 30px; opacity: 0%;" />
    <a id="back" style="position: relative; left:-95px; top: 0px;" class="btn btn-danger" href="/Art/Index">Home</a>
}
@section Scripts{
    <script>
        $(function () {
            $("#back").hover(function () {
                $("#backk").animate({ opacity: "100%" }, 1000);
            }, function () {
                $("#backk").animate({ opacity: "0%" }, 1000);
            });
        });
    </script>
}