@using Escape.Models
@model IEnumerable<Art>
@{
    ViewBag.Title = "Index";
}
<div style="padding:80px; border-radius:20px; position:relative; background-color: rgb(200,200,200);">
    
    <div  style="margin-top: -40px;">
        <table id="data">
            <thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td style="position: relative; left: -200px;"></td>
                </tr>
            </thead>
            <tbody>
                @foreach (Art art in Model)
                {
                    <tr>
                        <td>
                            <a class="zoom" href="/Art/Details/@art.id"> <img src=@Url.Content(art.artUrl) class="zoomThis" style="        
        
        border-radius: 25px;
        height: 250px;
        width: 250px;
        position: relative;
        margin: 20px;" /></a>
                        </td>
                        <td>
                            <a style="color: black;" href="/Art/Details/@art.id"><p style="width: 180px; left: 20px;" id="artName"><b style="font-size: 28px;">@art.artName</b></p></a>
                        </td>
                        <td>
                            <a href="/Art/CreatorDetails/@art.creator.id"><p style="color: grey; position:relative; left: 60px; width: 300px;">Artist: @art.creator.username</p></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <p id="add" style="color: lawngreen; font-size: 0px; position: fixed; bottom:70px; right:100px; width: 1px; height: 1px; opacity: 0%;">Add</p>
        <a style="position: fixed; bottom: 60px; right: 80px;" href="/Art/Add"><img id="plus" height="60px" width="60px" src="~/Poster/add.png" alt="Add new art" /></a>
    </div>
</div>
@section Scripts{
    <script>

        $(function () {
            $("#data").DataTable({
                "columns": [
                    { "name": "first", "orderable": false },
                    { "name": "second", "orderable": false },
                    { "name": "third", "orderable": true },
                ],
                "order": [[2, 'asc']],
            });

            $("#plus").hover(function () {
                $("#add").animate({ fontSize: "50px", right: "156px", opacity: "60%" }, 1000);
            }, function () {
                    $("#add").animate({ fontSize: "0px", right: "100px", opacity: "0%" }, 1000);
            });
            $(".zoomThis").mouseenter(function () {
                $(this).css({ border: '0 solid #ffcc14' }).animate({
                    borderWidth: 7
                }, 200);
            }).mouseleave(function () {
                $(this).animate({
                    borderWidth: 0
                }, 500);
            });
        });
    </script>
}




